@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
*{
    font-family: 'Poppins', sans-serif;
}


body {
    background-image:url(pic/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* Remove default margin */
    font-weight: bolder;
    color: white;
}

.home {
    padding-top: 145px;
}

* {
    box-sizing: border-box; /* Include padding and border in the box model */
}
.text-run {
    background-color: black;
}
.running-text {
    color: lightgreen;
    font-size: 7.5px;
    animation: marquee 7.5s linear infinite;

}
div.bahasa {
    text-align: center;
}
.p-cont{
   
    list-style: none;
}


.deskripsi-link{
    color: blue;
    text-decoration:underline;
    
}

.deskripsi {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.mocha, .css, .html {
    align-items: center;
    margin: auto;
}

img {
    height: 200px;
    margin-left: 10px;
}

.porto{
    
    padding-top: 20px;   
    
}


.logo {
    text-align: center;
    font-weight: bold;
}

.webdes{
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

#git_logo {
    font-size: 80px;
}

.running-text:hover {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

.nav-1 {
    background-color: #333;
    display: flex;
    justify-content: space-between; /* Adjusted to move items to both ends */
    margin-left: auto;
}
.fa-home {
margin-left: -20px;
}
.fa-search {
    margin-right: 15px;
}


.nav-1, .foot, .copyr, .konten{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}


a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: lightgreen;
    font-size: 20px;
}

.fa {
    font-size: 20px;
    color: lightgreen;
    border-radius: 20px;
    padding: 10px;
}

#link {
    color: white;
}

h1, h2 {
    text-align: center;
    margin-top: 80px; /* Adjust margin-top to create space for the fixed navbar */
    font-weight: bolder;
}

#main--1 {
    transition: background-color 0.5s ease-in-out;
}

#main--1:hover {
    background-color: black;
    transition: background-color 0.5s ease-in-out;
}

.youtube {
    width: 300px;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other elements */
}

footer {
    background-color: #333;
    color: #fff;
    position:static;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.portofolio {
    display: flex;
    justify-content: center;
}


#cpr {
    animation: marq 7.5s infinite;
}
#cpr:hover {
    animation-play-state: paused;
}

.porto-pic{
    text-align: center;
    margin: auto;
    display: block;
}

.porto02 {
    text-align: center;
    margin: auto;
}

.displaying-port {
    display: flex;
}

.html {
    padding-left: 100px;
}

.harga {
    padding-top: 10px;
}

.des-harga {
    text-align: center;
    margin: auto;
}

.des-harga1 {
    text-align: center;
    margin: auto;
    font-size: 25px;
    padding-top: 60px;
}

.des-harga2 {
    text-align: center;
    margin: auto;
    font-size: 25px;
    padding-top: 60px;
}

.pesan {
    text-align: center;
}

@keyframes marq {
        0% {
            color: #333;
        }
        9%{
            color: yellow;
        }
        10% {
           color: #333; 
        }
        11% {
            color: yellow; 
         }
         12% {
            color: #333; 
         }
         13% {
            color: yellow; 
         }
         40% {
            color: #333;
         }
         41% {
            color: yellow;
         }
         42% {
            color: #333;
         }
         43% {
            color: yellow;
         }
         44% {
            color: #333;
         }
         45%{
            color: yellow ;
         }
        100% {
            color: #333;
          
        }
      }

      @media (max-width: 1100px) {
    .portofolio {
        display: contents;
    }

    .porto {
        text-align: center;
        margin: auto;
    }
}
@media (max-width: 500px) {

    .rt {
        padding-right: 10px;
    }

    .home {
        margin-top: 150px;
    }

    #git_logo {
        font-size: 30px;
    }

    .fa {
        font-size: 14px;
    }

    a {
        font-size: 15px;
    }

    footer {
        font-size: 10px;
        margin-right: auto;
    }
    h1 {
        font-size: 25px;
    }

    #cpr {
        margin-left: 40px;
    }

    .box1 {
       
        padding-right: 20px;
    }

    .deskripsi {
        font-size: 15px;
        text-align: center;
        display: contents;
    }
    .portofolio {
        display: contents;
        
    }   

    #mocha {
        text-align: center;
        margin: auto;
    }
    
}